/*=======admin- dash css======*/
.admin-dash{display: flex;position: relative;}
.admin-left{position: fixed;top:0;left:0;z-index: 999;background-color: #fff;border: 1px solid #fff;width:260px;height: 100vh; transition:all .3s ;}
.admin-right{margin-left: 260px;padding: 32px; background-color: #F7F8F8;width: 100%;height: 100vh;transition: all .3s; }
.admin-logo .img-fluid{width: 170px;height: 40px;}
.admin-logo {padding: 24px 43px 53px;}
.dash-menu ul li{padding: 0px 22px; position: relative;margin-bottom: 8px;}
.dash-menu ul li::before{ content: "";height: 36px;width: 0px;background-color: var(--green);border-radius:10px;position: absolute;left:0;top:50%;transform: translateY(-50%);transition: all .3s;}
.dash-menu ul li:hover:before{width:4px;}
.dash-menu ul li:focus:before{width:4px;}
.dash-menu ul li.active-link:before{width:4px;}
.dash-menu ul li a{color:#475467 ;font-size: 16px;font-weight: 500;padding: 16px 20px;border-radius: 50px;width: 100%;display: block;}
.dash-menu ul li a img{margin-right: 8px;height: 24px;width: 24px;}
.dash-menu ul li a:hover{background-color: #475467;color: #fff;}
.dash-menu ul li.active-link a{background-color: #475467;color: #fff;}
.dash-menu ul li a img{filter: invert(0.1) brightness(0.4);}
.dash-menu ul li.active-link img{filter:brightness(0) invert(1);}
.dash-menu ul li a:hover img{filter:brightness(0) invert(1);}
.dash-menu ul li a:hover img{filter:brightness(0) invert(1);}
.admin-dash.left-side .admin-left{left:-260px;}
.admin-dash.left-side .admin-right{margin-left: 0px;}

.close-icon{text-align: right;padding: 10px 20px 0;}
.close-icon img{width: 30px;height: 30px; display: none;}

/*====admin-right =====*/

.srch-form{width:45%; display: flex; align-items: center;}
.srch-form .form-group{position: relative;margin-bottom: 0; width: 100%;}
span.arrow-btn{margin-right: 10px;}
span.arrow-btn i{color:var(--green);font-size: 20px;}
.srch-form input{border: 1px solid #fff !important;border-radius: 40px !important;padding-left: 45px !important; font-size: 14px; color: #646972; font-weight: 500;}
.srch-form .fa-search{position: absolute; left: 20px; top:18px; color: #000; font-size: 16px; z-index: 99;}
.admin-pro {display: flex;align-items: center;background-color: #fff; border-radius: 8px;height: 56px;width:118px; padding: 12px;}
.admin-pro span{margin-left:8px; font-size: 18px; font-weight: 500; color:#475467;}
.admin-pro img{height: 32px;width: 32px;border-radius: 50%;}
.admin-head {display: flex;align-items: center;justify-content: space-between;margin-bottom: 32px;}

/*====dash count box===*/
.dash-cont{padding-bottom: 32px;}
.dash-item {background: #fff;border-radius: 10px;padding: 20px;}
.img-item{display: flex; align-items: center;margin-bottom: 16px;}
.img-item span{font-size:36px; font-weight:600; margin-left:8px; color: #000;}
.img-item img{padding: 13px;height:50px; width: 50px; border-radius: 50px;border:1px solid #D0D5DD;}
.dash-item h5{font-size:18px ; font-weight:500;color:#475467;margin-bottom: 8px;}
.dash-item p span{height: 24px;width: 24px;border-radius: 50px;background-color: #DFF4E8;padding: 4px; color: #28C76F;font-size: 16px;text-align: center;}
.dash-item p{color:#667085;font-size: 16px; font-weight: 400;margin-bottom: 0;}
/*====chart section====*/
.chart-sec {padding: 29px 32px; background-color: #fff; border-radius: 16px;width: 70%;}
.chart-sec h3{font-size: 20px; font-weight: 600; color:#333333;}
.chart-sec .apexcharts-toolbar{display: none;}
.apexcharts-legend-series span.apexcharts-legend-marker{background-color: #2DB513 !important;border: 1px solid #2DB513 !important;}