.main-step{position: relative;height: 100vh}
.step-box{padding: 32px;max-width: 40%;position: absolute;transform: translateY(-50%);top:50%;left: 0;right: 0;margin:auto;background: #fff;border-radius: 24px;overflow: hidden;}
.step-box img{margin-bottom: 32px;}
.step-box h3{font-size: 30px;margin-bottom: 8px;color: #101828;font-weight: 600;}
.step-box p{margin-bottom: 32px;font-weight: 400;color:#98A2B3;font-size: 16px}
/*========Step Form ===========*/
#msform {text-align: center;margin-top: 0px}
#msform fieldset {background: white;border: 0 none;border-radius: 0.5rem;box-sizing: border-box;width: 100%;margin: 0;padding-bottom: 0px;position: relative}
.form-card {text-align: left}
#msform fieldset:not(:first-of-type) {display: none}
#msform .action-button { width: 100px; background: var(--green);font-weight: bold;color: white; border: 0 none; border-radius: 12px; cursor: pointer; padding: 10px 5px; margin: 0 auto; /* float: right; */ text-align: center; display: block;line-height: 20px;}
#msform .action-button:hover,
#msform .action-button:focus {background-color: #311B92}
#msform .action-button-previous {width: 100px;background: #616161;font-weight: bold;color: white;border: 0 none;border-radius: 0px;cursor: pointer;padding: 10px 5px;margin: 10px 5px 10px 0px;float: right}
#msform .action-button-previous:hover,
#msform .action-button-previous:focus {background-color: var(--black)}
.card {z-index: 0;border: none;position: relative}
.fs-title {font-size: 25px;color: #673AB7;margin-bottom: 15px;font-weight: normal;text-align: left}
.purple-text {color: #673AB7;font-weight: normal}
.steps {font-size: 25px;color: gray;margin-bottom: 10px;font-weight: normal;text-align: right}
.fieldlabels {color: gray;text-align: left}
#progressbar {margin-bottom: 30px;overflow: hidden;color: lightgrey}
#progressbar .active {color: #673AB7}
#progressbar li {list-style-type: none;font-size: 15px;width: 25%;float: left;position: relative;font-weight: 400}
#progressbar #account:before {font-family: FontAwesome;content: "\f13e"}
#progressbar #personal:before {font-family: FontAwesome; content: "\f007"}
#progressbar #payment:before {font-family: FontAwesome;content: "\f030"}
#progressbar #confirm:before {font-family: FontAwesome;content: "\f00c"}
#progressbar li:before {width: 50px;height: 50px;line-height: 45px;display: block;font-size: 20px;color: #ffffff; background: lightgray;border-radius: 50%;margin: 0 auto 10px auto;padding: 2px}
#progressbar li:after {content: '';width: 100%;height: 2px; background: lightgray;position: absolute; left: 0;top: 25px;z-index: -1}
#progressbar li.active:before,
#progressbar li.active:after {background: var(--green)}
.progress {height: 10px}
.progress-bar {background-color: var(--green)}
.fit-image {width: 100%;object-fit: cover}
.progress { height: 10px;position: absolute;top: -48px;left: -40px;right: auto;width: 124%; margin: auto;}
.step-box .container{position: relative;}
#heading {margin-bottom: 32px;}

/*========Step Form ===========*/
.mt-001{margin-top: 38px;}
/*=======upload profile form====*/
.profile-pic {width: 200px;max-height: 200px;display: inline-block;}
input.file-upload {display: none;}
input.file-upload2 {display: none;}
input.file-upload3 {display: none;}
.img-fluid.upload-button{width:30px;margin-bottom:5px;}
.img-fluid.upload-button2{width:30px;margin-bottom:5px;}
.pro-image img {border-radius: 100% !important;overflow: hidden;width: 100px;height: 100px;border: 2px solid rgba(255, 255, 255, 0.2);margin-bottom: 0;}
.p-image {padding:10px 15px;border: 2px dashed ;border-radius: 10px;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.p-image p{margin-bottom: 0px;font-size: 13px;line-height: 20px;}
.note{color: var(--green) !important;}
.profile-info h5 {font-size: 16px;margin-bottom: 10px;color:#344054;}
.select2-container .select2-selection--multiple{min-height: 52px !important; border-radius:10px;border:1px solid #aaa;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{padding: 10px 12px 0 !important;}
iframe.locat-map {width: 100%;height: 200px;border-radius:10px;}
.textt span{color: #000;}
.textt{color: var(--gray);}
.link-field{position: relative;margin-bottom: 15px;}
.media-img{position: absolute;left:20px;top:13px;width:20px;height:20px;}
.media-img img{margin-bottom: 0;}
.link-field input{padding-left: 50px;}
.switch {position: relative;display: inline-block; width: 40px;height: 20px; margin: 0 10px; }
.switch input { opacity: 0;width: 0;height: 0;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0; bottom: 0;background-color: #ccc;transition: .4s;}
.slider:before {position: absolute;content: "";height: 15px;width: 15px;left: 3px;bottom: 3px;background-color: white; transition: .4s;}
input:checked + .slider {background-color:var(--green); }
input:focus + .slider {box-shadow: 0 0 1px var(--green);}
input:checked + .slider:before {transform: translateX(20px);}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
.toggle-btn{display: flex;align-items: center;justify-content: center;height: 52px;width: 100%; border:1px solid #aaa; border-radius:10px;}
.toggle-btn span{font-size: 16px;color: #000;}
.choose-btn{display: flex; align-items: center;justify-content: space-between;padding: 5px; height: 52px;width:100%;border:1px solid #aaa; border-radius:10px}
.choose-btn button{border:none;background-color: transparent; color: #000;height: 35px; width: 33.33%;}
.choose-btn button:focus{outline:0px;}
.choose-btn button.activate{border:none !important; box-shadow: 0 0px 0px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2); color: var(--green);outline: none;min-height: 40px;}
.cale-btn {margin-left: 0 !important;margin-right: 0 !important;width: 100% !important;}
.align-title-btn{display: flex;align-items: center;justify-content: space-between;}
.avail-title{color: #000;}
.toggle-btn2 {
    display: flex;
}
.toggle-btn2 span{color: #000;}
.tabing-content h5{font-size: 16px;color: #000; margin: 15px 0 10px;}
.align-height{min-height: 50px;}
 ul#pills-tab {padding: 5px !important;border: 1px solid #aaa !important; border-radius: 10px;justify-content: space-between;}
 ul#pills-tab li.nav-item {width: 126px !important; text-align: center;}
.nav-pills .nav-link.active{background-color: transparent; box-shadow: 0 0px 0px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2); color: var(--green);}
.tab-content>.active{font-size: 14px;}
 ul#pills-tab .nav-link {font-size: 14px !important; padding: 5px 10px !important;}
 select{height: 52px !important; border-radius: 10px !important;}
 .cale-btn{margin-top: 32px !important;height: 52px !important;}
 .title-calen{font-size: 18px; color: var(--gray);}
 fieldset{position: relative;}
textarea.cont-text {resize: none;}
.img-gallery{position: relative; }
.gallery{position: absolute;position: absolute;top: 50px;left: 50%;transform: translateX(-49%);opacity:0;}
.input-group-text{background-color: transparent;border-left:0px;border: 1px solid  #C4BFCF; border-radius: 10px;}
/* input#fecha1{border-right: 0px;} */
 .vctr-img{margin-bottom:0;margin-top:3px;width:30px;}
.list-box ul li{display: block;margin-bottom: 15px;}
.list-box ul li .check-box{background-color: #F7F8F8; border-radius: 10px;border:1px solid #D0D5DD;}
.check-head{display: flex; align-items: center;justify-content: space-between;padding: 10px 15px;}
.check-head h4{font-size: 18px;color: #667085;font-weight: 600;width:80%;}
.check-box ul{padding: 10px 15px; display: none;border-top: 1px solid #aaa; }
.check-box ul.collapse{display: block ;}
.collapse.show{display: none !important;}
.check-box ul li{width:100%; margin-bottom: 20px;}
.check-text{display: flex;align-items: center; margin-bottom: 0;justify-content: space-between;}
.check-text label{ margin-bottom: 0px;font-weight: 500; font-size: 16px;color:#344054; width: 70%;line-height: normal;}
.tools ul li .check-box ul li .form-group{display: flex;align-items: center; justify-content: space-between;margin-bottom: 0;}
.check-head .drop-icon{color:#000; transition: all .3s;transform: rotate(0deg);} 
.check-head .drop-icon.new-class{transform: rotate(-180deg);}
.list-box ul li input[type=checkbox]:checked{accent-color: #F7F8F8;}
.img-thumbs-hidden {display: none;}
.img-thumbs-hidden {display: none;}
.wrapper-thumb{position: relative;display:inline-block;margin: 0 7px 10px 0;height: 90px;width:100px;justify-content: space-around;}
.img-preview-thumb {background: #fff;border-radius: 0.25rem;width: 100%;height: 100%;object-fit: cover;padding: 0; margin-bottom: 0;}
.remove-btn{visibility: hidden; position:absolute;display:flex;justify-content:center;align-items:center;top:0px;right:0px;width:100%;height:100%;background:linear-gradient(rgba(127,211, 116,0.5), rgba(127,211, 116,0.5)); cursor:pointer;}
.wrapper-thumb:hover .remove-btn{visibility: visible;}
span.remove-btn .fa-trash {height: 30px;width: 30px;background: #fff;border-radius: 50%;margin-top: 5px;display: flex;align-items: center;justify-content: center;color: #000;}
.remove-btn:hover{box-shadow: 0px 0px 3px grey;transition:all .3s ease-in-out;}
.btn.btn-border.new-btn.mt-001 { width: 100%;margin-top: 15px;height: 52px;min-width: 100%;}
input.previous.btn-border.new-step-btn, input.next.action-button.new-step-btn2 {position: relative !important;display: inline-block !important;top: 0;bottom: 0 !important;margin: 0 auto;min-width: 133px;margin-top: 60px !important;height: 46px;}
p.skill-text {font-size: 14px;line-height: normal;margin-bottom: 10px;color: #667085;}
.check-box ul li input[type="checkbox"]{ appearance: none;-webkit-appearance: none;height: 15px;width:15px;border-radius: 3px;border:1px solid #8C87A2;background-color: #fff;cursor: pointer;display: flex;align-items: center;justify-content: center;outline: none;}
.check-box ul li input[type="checkbox"]:after{content:"\f00c";font-family: "fontawesome";font-size: 10px;position: absolute;top:1px; color: var(--green);display: none;}
.check-box ul li input[type="checkbox"]:checked{background-color: #eee;border: 1px solid var(--green);}
.check-box ul li input[type="checkbox"]:checked:after{display: block;}
.exclaim{height: 15px;width:15px;border-radius: 4px; border:1px solid #8C87A2;background-color: transparent; margin-left:8px;display: flex; align-items: center;justify-content: center;}
.exclaim i{color: #8C87A2;font-size: 9px;margin-top: 1px;}
.green-box .exclaim i{color: var(--green);}
.green-box .exclaim{border: 1px solid var(--green);}
.green-box label{color: var(--green);}
.check-text input{position: relative;}
.form-alignment2{display: flex;align-items: center;}
.form-alignment2 .form-group{width: 90%;}
.form-alignment2 button{margin-left: 18px;margin-top:13px; min-width:120px;width: auto;height: 52px;}
.bootstrap-tagsinput{display: block;line-height: 40px;color: #000;border-radius:10px;}
span.tag.label.label-info span {font-size: 15px;padding: 0px 5px;border-radius: 50%;background:  #E0E0E0;border: 1px solid #000;color: #000;margin-left: 8px;}
span.tag.label.label-info {padding: 6px 14px 6px;background: #E0E0E0;border-radius: 50px; font-size: 16px;color: #424548;border: 1px solid #E0E0E0;}
div#tags-output{margin-top:15px;}
.list-box ul li input[type=checkbox]:checked{accent-color: #F7F8F8;}
.img-title {margin: 10px 0;}
.img-title h5{font-size: 16px; color: #000;font-weight: 500;}
span.tag.label.label-info{margin-right: 3px;display: inline-block;margin-bottom: 3px;}

