/*====coman color ====*/
:root {
  --green: #2CB512;
  --black: #000000;
  --gray:#667085; 
  --white:#fff;
  --blue:#211937;
  --bodycolor:#F5F5FA;
  --fontfamily-1:'Onest', sans-serif;
}

/*=============Reset Style=================*/

@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500;600;700;800;900&display=swap');
body{color: #adadad;font-family: var(--fontfamily-1);font-size: 16px;font-weight: 400;line-height: 24px;letter-spacing: 0.5px;background: var(--bodycolor);position: relative;}
html, body, div, span, applet, object, iframe, h3, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
audio, canvas, video {display: inline-block;max-width: 100%;}
a {text-decoration: none;cursor: pointer;color: #000;}
.archive .page-title.header, .archive.search .page-title.header, .error404 .page-title.header {display: none;}
a:hover, a:active {outline: 0;}
a:active, a:hover, .post-navigation a:hover .fa {color: var(--green);}
h1, h2, h3, h4, h5, h6 {clear: both;margin: 0;font-weight: 500;line-height: normal;font-family: var(--fontfamily-1)}
address {margin-bottom: 24px;}
abbr[title] {border-bottom: 1px dotted #2b2b2b;cursor: help;}
b, strong {font-weight: bold;}
cite, dfn, em, i {font-style: italic;}
mark, ins {text-decoration: none;background: none;}
p {margin-bottom: 24px;}
.entry-content p {margin-bottom: 20px;}
code, kbd, tt, var, samp, pre {font-family: var(--fontfamily-1);font-size: 15px;line-height: 1.6;}
pre {border: 1px solid #ebebeb;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-bottom: 24px;max-width: 100%;overflow: auto;padding: 12px;white-space: pre;white-space: pre-wrap;word-wrap: break-word;}
blockquote, q {quotes: none;clear: both;line-height: 24px;}
blockquote:before, blockquote:after, q:before, q:after {content: "";content: none;}
ul, ol {margin: 0 0;}
ul {clear: both;list-style: none;}
ol {list-style: decimal;}
.list>li {margin: 0 0 5px;}
img {-ms-interpolation-mode: bicubic;border: 0;vertical-align: middle;}
figure {margin: 0;}legend {white-space: normal;}
button, input, select, textarea {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;vertical-align: middle;font-size: 13px;}
button, input {line-height: normal;}
input, textarea {background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; cursor: pointer;}
button[disabled], input[disabled], .button.disabled, .added_to_cart.disabled, .added_to_cart:disabled, .button.disabled, .button:disabled, button.disabled, button:disabled, input[type=button].disabled, input[type=button]:disabled, input[type=reset].disabled, input[type=reset]:disabled, input[type=submit].disabled, input[type=submit]:disabled {cursor: not-allowed !important;}
input[type="checkbox"], input[type="radio"] {padding: 0;height: auto;vertical-align: baseline;}
input[type="search"] {-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0;}
hr {background-color: #f5f5f5;border: 0;height: 1px;margin-bottom: 23px;}
a:hover, a:focus {color: var(--green);text-decoration: none;transition:0.5s ease-in all;}
img {width: auto;height: auto;max-width: 100%;}

/*====Green Btn====*/
.btn{background: var(--green);font-size: 14px;height:44px ;min-width:124px ;font-weight: 600;color:#fff;text-align: center;line-height: 30px;border:1px solid var(--green);border-radius: 12px !important;}
.btn:hover,.btn:focus{background: transparent;color: var(--green);transition:0.5s ease-in all;}

/*====Green border Btn====*/
.btn-border{background:transparent;font-size: 14px;height:44px ;width:124px ;font-weight: 600;color:var(--green);text-align: center;line-height: 30px;border:1px solid var(--green);border-radius: 12px;}
.btn-border:hover,.btn-border:focus{background: var(--green);color:#fff;transition:0.5s ease-in all;}

/*====black border Btn====*/
.btn-2{background:transparent;font-size: 18px;height:44px ;width:202px ;font-weight: 600;color:var(--gray);text-align: center;line-height: 40px;border:1px solid var(--gray);border-radius: 44px;display: block;}
.btn-2:hover,.btn-2:focus{background: var(--gray);color:#fff;transition:0.5s ease-in all;}

/*====skip Btn====*/
.batn-02 {
    background: transparent;
    border: 0;
    color: var(--gray);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
}
.batn-02:hover,.batn-02:focus{color: var(--green)}
/*====Green text====*/
.green-text{color:var(--green);font-size: 18px;font-weight: 400;margin-bottom:16px;text-transform: uppercase;}

/*====Title-main ======*/
.title-one{font-size: 66px;font-weight: 500;margin-bottom:24px;color:#1D1E20;line-height: normal;}
.title-two{font-size: 30px;font-weight: 500;margin-bottom:24px;color:#1D1E20;line-height: normal;}
/*====peregraph text ======*/
.title-text{font-size: 24px;margin-bottom:42px;color:var(--gray);font-weight: 400;}

/*===== form comman css =======*/
label{color:#0F0424;font-size: 14px;margin-bottom:8px;font-weight: 600}
input.form-control{height: 52px;border:1px solid #C4BFCF;border-radius: 12px}
textarea{border:1px solid #C4BFCF;border-radius: 12px}


/*=======back button ==========*/
.back-btn span {height: 30px;width: 30px;background: var(--green);color: #fff;text-align: center;border-radius: 50%;line-height: 30px;font-size: 19px;margin-bottom: 32px;border:1px solid var(--green);}
.back-btn a:hover span,.back-btn a:focus span{background: transparent;color:var(--green);transition:0.5s ease-in all}
.back-btn a{font-size: 14;font-weight: 500;color:#101828;}
.back-btn a:hover,.back-btn a:focus{color:var(--green);transition:0.5s ease-in all;}

/*===header-2====*/
.header-2{background-color: transparent;}