/*=======forget password Page========*/
.login-page{position: relative;height: 100vh}
.login-page img{position: absolute;left:0;top:50%;transform: translateY(-50%);}
.login-page img.loign-imag-two{left:auto;right: 0;}
.login-info {width: 40%;margin: auto;position: absolute;top: 50%;transform: translateY(-50%);left: 0;right: 0;}
.login-info img{position: relative;top:0;transform: translateY(0);margin-bottom: 32px}
.login-info h3{font-size: 30px;font-weight: 600;margin-bottom: 8px;color:#101828;}
.login-info p{font-size: 16px;margin-bottom: 32px;font-weight:400;color:var(--gray);}
label{color:#0F0424;font-size: 14px;margin-bottom:8px;font-weight: 600}
input.form-control{height: 52px;border:1px solid #C4BFCF;border-radius: 12px}
textarea{border:1px solid #C4BFCF;border-radius: 12px}
.forget{font-size: 14px;color:var(--green);font-weight: 600}
.forget:hover,.forget:focus{color:#000;transition:0.5s ease-in all  }
.login-form p{color: var(--gray);font-weight: 400;margin-bottom: 0;margin-top: 32px}
.login-form p a{font-weight: 600;color:#1D2939;}
.login-form p a:hover,.login-form p a:focus{color:var(--green);transition:0.5s ease-in all }

.back-btn span {height: 30px;width: 30px;background: var(--green);color: #fff;text-align: center;border-radius: 50%;line-height: 30px;font-size: 19px;margin-bottom: 32px;border:1px solid var(--green);}
.back-btn a:hover span,.back-btn a:focus span{background: transparent;color:var(--green);transition:0.5s ease-in all}
.back-btn a{font-size: 14;font-weight: 500;color:#101828;}
.back-btn a:hover,.back-btn a:focus{color:var(--green);transition:0.5s ease-in all}
.top-side{padding:40px 0;}