/*======Banner Section ======*/
.banner .container{height: 100vh;position: relative;}
.banner-info h1{font-size: 66px;text-align: center;color:#1D1E20;font-weight: 500;margin-bottom: 60px;}
.banner-info h1 span{display: block;color:var(--green);}
.banner-info{position: absolute;transform: translateY(-50%);top:50%;left: 0;right: 0;}
.search-box { text-align: center;max-width:69%;margin:auto;}
.search-box .btn{height: 70px;border-radius: 50%;min-width:70px;}
.search-box ul {display: flex;flex-wrap: wrap;align-items: center;}
.search-box ul li{margin:0 4px;margin-bottom: 10px;}
.search-box ul li a{width: 296px; background: #20182B;border:1px solid #20182B; color: #fff; font-size: 20px;font-weight: 500; height: 70px; display: block; line-height: 70px;border-radius: 12px;}
.search-box ul li a:hover,.search-box ul li a:focus{background: transparent;color:#20182B;transition:0.5s ease-in all;}
a.small { width: 202px !important;}
.search-box ul li:nth-child(3) {margin-top: -40px;}
.search-box ul li:last-child {margin-bottom: -60px;}
.search-box .form-group .btn {border-radius: 12px;position: absolute;top: 4px; height: 50px;width: 120px;right: 4px;}
.search-box .form-group input {height: 58px; padding-left: 39px; border: 1px solid var(--green); border-radius: 12px; font-size: 16px; background: transparent;}
.search-box .form-group i {position: absolute;left: 18px; top: 20px;}
.search-box .form-group {width: 84%;position: relative;}
.search-box .btn:hover,.search-box .btn:focus{color:var(--green);}
.circle {position: relative;width: 200px;height: 200px;border-radius: 100vmax;display: flex;align-items: center;justify-content: center;margin: auto;margin-top: 50px;bottom:-30px;}
.icon-bb {position: absolute;width: 50px;height: 50px;background: url("../images/vector.png");background-size: cover;border-radius: 100vmax;background-position: center;z-index: 1;cursor: pointer;}
.text {position: absolute;width: 100%;height: 100%;font-family: consolas;color: #000;font-size: 17px; animation: textRotation 8s linear infinite;}
@keyframes textRotation {
    to {
        transform: rotate(360deg);
    }
}
.text span { position: absolute; left: 50%; font-size: 1.2em;transform-origin: 0 100px;}


/*======About Section ======*/
.about{padding: 150px 0 63px;position: relative;background:#20182B;border-radius: 50px}
.about:before {content: "";background: url(../images/timezone.png); height: 770px; position: absolute; right: 0;top: 0; width: 100%;left: auto;background-position: right;background-size: cover; border-radius: 50px 50px 0 0;}
.about-info{position: relative;width:40%;padding-bottom: 150px}
.about-info h3{color:var(--green);font-size: 18px;font-weight: 400;margin-bottom:16px;}
.about-info h2{font-size: 66px;font-weight: 500;margin-bottom:24px;color:#fff;line-height: normal;}
.about-info p {font-size: 24px;color: #fff;line-height: 32px;font-weight: 300;margin-bottom: 0;}

.time-zone-box {position: relative;background: #f5f5fa;padding: 84px;text-align: center; border-radius: 50px;}
.time-zone-box h3{color:var(--green);font-size: 18px;font-weight: 400;margin-bottom:16px;}
.time-zone-box h2{font-size: 66px;font-weight: 500;margin-bottom:24px;color:#000;line-height: normal;}
.time-zone-box h4 {font-size: 24px;color: #000;line-height: 32px;font-weight: 300;width: 70%;margin:auto;margin-bottom: 32px;}
.time-zone-box img{margin-bottom:35px;}
.time-zone-box ul {display: flex;justify-content: space-between;width: 70%;margin: auto;}


/*==========Testimonial Section============*/
.testimonial{padding: 112px 0;}
.title-testimonial h3{color:var(--green);font-size: 18px;font-weight: 400;margin-bottom:16px;}
.title-testimonial h4{font-size: 66px;font-weight: 500;margin-bottom:24px;color:#000;line-height: normal;}
.testimonial-info {padding: 54px 52px;background: var(--blue);border-radius: 30px;height: 440px}
.testimonial .slick-list.draggable{padding-top:94px;}
.testimonial-info h4{font-size:32px;color:#fff;margin-bottom:48px;}
.testimonial-info p{font-size: 20px;color:#fff;}
.testimonial-box{height: 440px;position: relative;background: #753BB6;border-radius: 30px}
.testimonial-box img {position: absolute;bottom: 0px;right: 60px}
.name-test {background: #fff;position: absolute;padding: 22px;bottom: 50px;left: 50px;border-radius: 20px;}
.name-test p{margin-bottom: 0;font-size: 16px;color:#000;font-weight: 400;}
.name-test h3{font-size: 18px;color:#000;font-weight: 600;}
.testimonial .slick-prev, .testimonial .slick-next {font-size: 0;line-height: 0; position: absolute;top: -60px; display: block;width: 20px;height: 20px;padding: 0;-webkit-transform: translate(0, -50%);-ms-transform: translate(0, -50%);transform: translate(0, -50%);cursor: pointer;color: var(--blue);border: none;outline: none;background: #FFF;border: 1px solid var(--blue);height: 50px;width: 50px;border-radius: 50%;}
.testimonial .slick-prev {left: auto; right: 32px ;}
.testimonial .slick-prev:before, .testimonial .slick-next:before{color:var(--blue);}


/*========Team Section ========*/
.team{padding: 112px 0 0;background: var(--blue);text-align: center;border-radius: 50px 50px 0 0 }
.team h3{color:var(--green);font-size: 18px;font-weight: 400;margin-bottom:16px;}
.team h4{font-size: 66px;font-weight: 500;margin-bottom:24px;color:#fff;line-height: normal;}
.team p{font-size: 24px;margin-bottom:42px;color:#fff;font-weight: 400}
.team img{width:100%;object-fit: cover;}


/*========Team Section ========*/
.prices{padding:112px 0;}
.prices h3{color:var(--green);font-size: 18px;font-weight: 400;margin-bottom:16px;text-align:center;}
.prices h4{font-size: 66px;font-weight: 500;margin-bottom:24px;color:#1D1E20;line-height: normal;text-align:center;}
.prices p{font-size: 24px;margin-bottom:42px;color:var(--gray);font-weight: 400;text-align:center;}
.plan-box {background: #fff;padding: 35px; border-radius: 30px;text-align: center;min-height: 525px;}
.row.plan {width: 70%;margin: auto;}
.plan-box .btn.btn-border {height: 56px;width: 100%; margin-bottom: 20px;}
.plan-box p{margin-bottom: 15px;font-size:16px;}
.plan-box h4{margin-bottom: 0;font-size: 48px}
.plan-box h3{margin-bottom: 5px;font-size: 24px}
.plan-box ul{text-align: left;}
.plan-box ul li {padding-left: 20px;margin-bottom: 10px;position: relative;}
.plan-box ul li:before{content: "\f00c";left: 0;font-size: 16px;color:var(--green);font-family:'FontAwesome';left: 0;position: absolute;}


/*======= form section ==========*/
.efforts{background: var(--blue);padding:112px 0;}
.efforts .title-one{color:#fff;}
.efforts .title-text{color:#fff;line-height: normal;}
.form-box {padding: 32px;background: #fff;border-radius: 30px;}
.form-box h4{font-size: 26px;color:#0F0424;text-align: center;margin-bottom:24px;font-weight: 600;}
.form-box label{color:#0F0424;font-size: 14px;margin-bottom:8px;font-weight: 600}
.form-box input{height: 52px;border:1px solid #C4BFCF;border-radius: 12px}
.form-box  textarea{border:1px solid #C4BFCF;border-radius: 12px}
.form-box .form-group{margin-bottom: 24px}
