.acc-banner{background-image: url(../images/banner-img1.png); background-position: center;background-size: cover;background-repeat: no-repeat;height: 184px;width: 100%;position: relative;margin-top: 85px; }
.acc-header{padding: 15px 0 0px;}
.acc-cont{display:flex ;align-items: end;}
.acc-header .container .row{align-items: end;}
.acc-img{height: 182px;width:182px; border:4px solid #fff; border-radius: 12px;margin-top:-115px;}
.acc-img .img-fluid{width: 100%;height: 100%;border-radius: 12px;object-fit: cover;}
.acc-name h3{font-size: 28px; font-weight: 600; color:#101828;margin-right: 20px;}
.date.dis-align p{margin-left: 8px !important; font-size: 16px; color: #73787E;font-weight: 400;}
.skill-info.dis-align p{margin-left: 16px;margin-bottom:-4px; font-weight: 500;font-size: 16px;}
.skill-info.dis-align p span{color: #000;}
.until-date{position: relative; background-color: #D5EBD1; color: var(--green);font-size: 16px; font-weight: 500;padding: 2px 8px 2px 22px;border-radius:100px;}
.until-date::before{content: "";padding: 3px;border-radius: 5px; position: absolute;left:10px;top:11px;background-color: var(--green);}
.dis-align{display: flex; align-items: center;}
.dis-align p{margin-bottom: 0;}
.det-info{margin-left:24px;margin-bottom: 8px;}
.right-btn{text-align: right;}
.plan-togle{text-align: right;}
.list-btn.plan-btn button:last-child{margin-left:16px;}
.list-btn.plan-btn{margin-bottom: 8px;}
.plan-togle .toggle-btn2{padding: 16px; border-radius: 12px; background-color: #fff;max-width:367px; margin-left: auto;}
.plan-togle .toggle-btn2 span{color: #000;font-weight: 600;font-size: 16px;}
.plan-togle .toggle-btn2 .switch{margin-left: 16px;margin-right: 0;}
.list-btn.plan-btn button:first-child{width: 94px;height: 44px;}
.list-btn.plan-btn button:nth-child(2){min-width: 81px !important;height: 44px;}

/*=====tabs sec====*/
.tabs{padding: 0 0 40px;margin-top:-20px;}
.nav-tabs .nav-link{border-radius: 0 !important;border: transparent;}
.tabs .nav-tabs .nav-link:hover{border: 0; border-bottom:2px solid var(--green); background-color: transparent; color: var(--green);}
.tabs .nav-tabs .nav-link.active{border: 0; border-bottom:2px solid var(--green); background-color: transparent; color: var(--green);}
.tabs-note p{margin-bottom: 0; font-size: 14px; color: #667085;font-weight: 400; line-height: normal;}
.tabs-cont{padding: 30px 0;}
.tabs-box{padding: 24px;border-radius: 10px;background-color: #fff;max-width:389px;min-height: 250px;}
.tabs-box .acc-name h3{font-size: 18px; font-weight: 600; color: #101828;margin-right: 0;}
.tabs-box .acc-name{margin-bottom: 34px;}
.premium-text{margin-bottom: 34px;}
.premium-text h3{font-size:18px ;color:#101828;font-weight:600 ; line-height: normal;margin-bottom: 8px;}
.premium-text h5{color:#667085;font-size: 16px; font-weight: 400;}
.tabs-box .until-date::before{display: none;}
.tabs-box .until-date{padding: 5px 10px;font-size: 14px; font-weight: 500;margin-left:8px; color: #039855;line-height: normal; background-color:#ECFDF3;}
#exampleModal-input .modal-header {border:0;}
#exampleModal-input .modal-header{text-align: center;justify-content: center;}
#exampleModal-input .modal-header .modal-title{color: #000; font-size: 24px;font-weight: 500;line-height: normal;}
#exampleModal-input .modal-dialog {max-width: 400px;top:50%;left:50%;transform: translate(-50%, -50%);margin: 0;width: 100%;}
#exampleModal-input .modal-content{border-radius: 12px;}
#exampleModal-input .modal-body{padding: 0 15px 15px;text-align: center;}
#exampleModal-input .modal-body p{margin-bottom:0; font-size:16px; font-weight: 400; color:#667085 ;}
#exampleModal-input .modal-footer{border: 0;justify-content: space-between;}
.pers-box{padding: 28px;border-radius:12px;background-color: #fff;}
.tab-box ul.nav-pills li{display: block;width: 100%;}
.tab-box ul.nav-pills li a{background-color: transparent;padding: 16px 0;border-bottom: 1px solid #D0D5DD;font-size: 16px;font-weight: 500; color: #98A2B3;}
.tab-box ul.nav-pills li a.active{background-color: transparent;color: var(--green);}
.pers-info{padding: 32px 0;}
.tab-box ul.nav-pills li a img{margin-right: 10px;}
.pers-info .tab-box{padding: 16px; border-radius:12px;background-color: #fff;}
.pers-box input{height: 44px !important;}
.pers-box input::placeholder{color:#101828;font-size: 16px;font-weight: 400;}
.pers-box label{font-size:14px;font-weight: 500;color:#344054;}
.pers-box label span{color:#98A2B3;}
.form-alignment .form-group{width:80%;}
.form-alignment .chng-mail button{min-width: 154px;margin-top:13px;}
.user-btn .chng-mail button{min-width: 120px;}
.form-alignment{display: flex;align-items: center;}
.chng-mail{display: flex;align-items: center;}
.chng-mail button{margin-left:18px;}
.pers-box .profile-info .pro-image.img-fluid{width:80px;height: 80px;}
.pers-box .profile-info .pro-image.header-img  {width:100%;height: 102px;}
.pers-box .select2-container .select2-search--inline .select2-search__field{font-size: 16px; font-weight: 500;margin-top: 0;}
.pers-box .select2-container--default .select2-selection--multiple .select2-selection__rendered{padding: 7px 12px 0 20px!important;}
.pers-box .select2-container--default .select2-selection--multiple .select2-selection__choice{background-color: #EAECF0;border:1px solid #EAECF0;border-radius: 44px;margin-top: 0;padding: 0 5px 3px;}
.pers-box .select2-container .select2-selection--multiple{min-height:44px !important;}
.pers-box .select2-container--default .select2-selection--multiple .select2-selection__rendered li input{height: auto !important;}
.pers-box .select2-container--default.select2-container--focus .select2-selection--multiple{border: 1px solid #D0D5DD;}
.pers-box .profile-info .pro-image.header-img img{width: 100%;height: 100%;object-fit: cover; border-radius: 12px;}
.pers-box .choose-btn{height: 44px;}
.pers-box .list-box .check-text input{height: auto !important;}
.pers-box.pers-checkbox .list-box .check-text input{height: 15px !important;width: 15px;}
.chat-text li.right-msg .pro-info li:nth-child(2) {border-radius: 12px !important;}
.check-box ul li input[type="checkbox"]{ appearance: none;-webkit-appearance: none;height: 15px;width:15px;border-radius: 3px;border:1px solid #8C87A2;background-color: #fff;cursor: pointer;display: flex;align-items: center;justify-content: center;outline: none;}
.check-box ul li input[type="checkbox"]:after{content:"\f00c";font-family: "fontawesome";font-size: 10px;position: absolute;top:1px; color: var(--green);display: none;}
.check-box ul li input[type="checkbox"]:checked{background-color: #eee;border: 1px solid var(--green);}
.check-box ul li input[type="checkbox"]:checked:after{display: block;}
.exclaim{height: 15px;width:15px;border-radius: 4px; border:1px solid #8C87A2;background-color: transparent; margin-left:8px;display: flex; align-items: center;justify-content: center;position: absolute;right: 0;}
.exclaim i{color: #8C87A2;font-size: 9px; margin-top: 1px;}
.green-box .exclaim i{color: var(--green);}
.green-box .exclaim{border: 1px solid var(--green);}
.green-box label{color: var(--green);}
.check-text input{position: relative;}
input.previous.btn-border.new-step-btn, input.next.action-button.new-step-btn2 {position: relative !important;display: inline-block !important;top: 0;bottom: 0 !important;margin: 0 auto;min-width: 133px;margin-top: 60px !important;height: 46px;}
p.skill-text {font-size: 14px;line-height: normal;margin-bottom: 10px;color: #667085;}
.avail-title{color: #000;}
.toggle-btn2 {display: flex;}
.tab-box ul.nav-pills li:last-child a{border-bottom: 0;padding-bottom: 0;}
.pers-box .input-group-text{height: 44px;}
.pers-box .media-img{top:9px;}
.pers-box select{height: 44px !important;}
.bootstrap-tagsinput{display: block;line-height: 40px;}
span.tag.label.label-info span {font-size: 15px;padding: 0px 5px;border-radius: 50%;background:  #E0E0E0;border: 1px solid #000;color: #000;margin-left: 8px;}
span.tag.label.label-info {padding: 6px 14px 6px;background: #E0E0E0;border-radius: 50px; font-size: 16px;color: #424548;border: 1px solid #000;margin-right: 5px;margin-bottom:5px;display: inline-block;}
div#tags-output{margin-top:15px;}
.pers-box select{border-radius: 10px;}

/*====opt togglebtn======*/
.switch {position: relative;display: inline-block;width: 40px;height: 20px;margin: 0 10px;}
.plan-togle .toggle-btn2 .switch {margin-left: 16px;margin-right: 0;}
.switch input {opacity: 0;width: 0;height: 0;}
.plan-togle .toggle-btn2 span {color: #000;font-weight: 600; font-size: 16px;}
.slider.round {border-radius: 34px;}
.slider:before {position: absolute;content: ""; height: 15px;width: 15px;left: 3px;bottom: 3px; background-color: white;transition: .4s;}
.slider.round:before {border-radius: 50%;}
input:checked + .slider:before {transform: translateX(20px);}
input:checked + .slider {background-color: var(--green);}
.toggle-btn2{display: flex;align-items: center;justify-content: center;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;transition: .4s;}

/*======team profile css====*/
.tabs-note p{margin-bottom: 18px;}

/*=====upload profile img css=-=======*/
.img-title h5 {font-size: 14px;margin-bottom: 10px;color: #344054;font-weight: 500;} 
.pers-box .pro-image{border-radius: 100%;overflow: hidden;width:80px;height:80px;border: 1px solid#D0D5DD;margin-bottom: 0;margin-top: 10px;}
.pers-box .pro-image .img-fluid{height: 100%;width: 100%;object-fit: cover;}
.pers-box .profile-info .pro-image.header-img{border-radius: 13px !important; }
.p-image {padding: 10px 15px;border: 2px dashed;border-radius: 10px;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.img-fluid.upload-button3 {width: 30px;margin-bottom: 5px;}
.pers-box input {height: 44px !important;}
input.file-upload3 {display: none;}
.pers-box .p-image p {margin-bottom: 0px;font-size: 13px;line-height: 20px;}
.img-fluid.upload-button {width: 30px;margin-bottom: 5px;}
.img-fluid.upload-button2 {width: 30px;margin-bottom: 5px;}
input.file-upload {display: none;}
input.file-upload2 {display: none;}
/*======active members======*/
.active-member{margin-top:18px; border: 1px solid #EAECF0; border-radius:8px;}
.active-member ul{padding: 16px;}
.member-info{border-radius:8px;}
.active-title{padding: 10px;background-color:#F2F4F7;}
.active-title h5{font-size: 14px;color: #667085;font-weight: 400;}
.pers-box .pro-info{margin-left:16px;}
.pers-box .pro-cont { display: flex;align-items: center;}
.pers-box .pro-cont .pro-img {height: 50px;width: 50px;border-radius: 50%;}
.pers-box .pro-cont .pro-img .img-fluid{width: 100%;height: 100%;border-radius:50%;object-fit: cover;}
.pers-box .pro-cont  h4 {font-size: 16px;color:#101828; font-weight: 600;font-weight: 500;}
.pers-box .pro-cont p {font-size: 14px;color:#667085;margin-bottom: 0; font-weight: 400;}
.pro-cont.member-content .until-date{padding: 2px 10px; margin-left: 10px; color: #039855;background-color: #ECFDF3;}
.pro-cont.member-content .until-date::before{display: none;}

/*=====language css======*/
.pers-box .select2-container--default.select2-container--focus .select2-selection--multiple{min-height: 44px;border-radius: 10px;}
.pers-box .select2-container--default.select2-container--focus .select2-selection--multiple {border: 1px solid #D0D5DD;}
.link-field {position: relative;margin-bottom: 15px;}
.pers-box .media-img {left:20px; top: 9px;position: absolute;height: 20px;width: 20px;}
.link-field input {padding-left: 50px;}
iframe.locat-map {border-radius:10px; width: 100%;height:155px;}

/*======work and social css========*/
.pers-box .choose-btn {height: 44px;}
.pers-box .choose-btn{display: flex;align-items: center;justify-content: space-between;padding: 5px;height:44px;width: 100%;border: 1px solid #aaa;border-radius: 10px;}
.choose-btn button {border: none; background-color: transparent; color: #000; height: 35px; width: 33.33%;font-size: 16px;}
.choose-btn button.activate{border: none !important;box-shadow: 0 0px 0px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);color: var(--green);outline: none;}
.choose-btn button:focus{outline: none;}
.img-gallery {position: relative;}
.gallery {position: absolute;top: 50px;left: 50%;transform: translateX(-49%);opacity: 0;}
.img-thumbs-hidden {display: none;}
.pers-box .wrapper-thumb{width:120px; height:90px;}
.wrapper-thumb{position: relative;display:inline-block;margin: 0 7px 10px 0;height: 90px;width:100px;justify-content: space-around;}
.img-preview-thumb {background: #fff;border-radius: 0.25rem;width: 100%;height: 100%;object-fit: cover;padding: 0; margin-bottom: 0;}
.remove-btn{visibility: hidden; position:absolute;display:flex;justify-content:center;align-items:center;top:0px;right:0px;width:100%;height:100%;background:linear-gradient(rgba(127,211, 116,0.5), rgba(127,211, 116,0.5)); cursor:pointer;}
.wrapper-thumb:hover .remove-btn{visibility: visible;}
span.remove-btn .fa-trash {height: 30px;width: 30px;background: #fff;border-radius: 50%;margin-top: 5px;display: flex;align-items: center;justify-content: center;color: #000;}
.remove-btn:hover{box-shadow: 0px 0px 3px grey;transition:all .3s ease-in-out;}
/*======skill css=======*/
p.skill-text { font-size: 14px;line-height: normal;margin-bottom: 10px;color: #667085;}
.check-head {display: flex;align-items: center;justify-content: space-between;padding: 10px 15px;}
.check-head h4 {font-size: 18px; color: #000;}
.check-head .drop-icon { color: #000; transition: all .3s; transform: rotate(0deg);}
.check-head .drop-icon.new-class{transform: rotate(-180deg);}
.list-box ul li {display: block;margin-bottom: 15px;}
.list-box ul li .check-box {background-color: #F7F8F8;border-radius: 10px;border: 1px solid #D0D5DD;}
.check-head {display: flex;align-items: center; justify-content: space-between; padding: 10px 15px;}
.check-box ul.collapse {display: block}
.check-box ul.collapse.show{display: none;}
.check-box ul {padding: 10px 15px;display: none;border-top: 1px solid #D0D5DD;}
.check-box ul li { width: 100%; margin-bottom: 20px; margin: 0 5px 10px 0; display: inline-grid;}
.check-text {display: flex;align-items: center;margin-bottom: 0;position: relative;}
.pers-box.pers-checkbox .list-box .check-text input {height: 15px !important;width: 15px;}
.pers-box .box-content.tool .check-text label{margin-left: 0;}
.pers-box .check-text label {font-size: 14px;font-weight: 500;color: #344054;margin-bottom: 0;margin-left: 8px; width:95%;}
.check-box ul li input[type="checkbox"]:checked:after {display: block;}
.check-box ul li input[type="checkbox"]:after { content: "\f00c"; font-family: "fontawesome";font-size: 10px;position: absolute;top: 1px;color: var(--green); display: none;}
.check-box ul li input[type="checkbox"]:checked {background-color: #eee;border: 1px solid var(--green);}
.check-box ul li input[type="checkbox"] { height: 15px; width: 15px; border-radius: 3px; border: 1px solid #8C87A2; background-color: #fff;cursor: pointer;display: flex;align-items: center;justify-content: center;outline: none;}
.exclaim {height: 15px;width: 15px; border-radius: 4px;border: 1px solid #8C87A2;background-color: transparent;margin-left: 8px;display: flex;align-items: center;justify-content: center;position: absolute;right: 0;}
.exclaim i {color: #8C87A2;font-size: 9px;}
.green-box label { color: var(--green) !important;}
.green-box .exclaim {border: 1px solid var(--green);}
.green-box .exclaim i {color: var(--green);}

/*====tools====*/
.tools .check-text label{margin-left: 0 !important;}
.tools .check-text {justify-content: space-between;}
/*=== rates and exper css======*/
.pers-box textarea{border-radius: 10px;}
textarea.cont-text {resize: none;}
/*======avalabelity======*/
.avail-title {color: #000;}
.align-title-btn {display: flex;align-items: center; justify-content: space-between;}
.toggle-btn2 span {color: #000;}
.tabing-content h5 {font-size: 16px;color: #000;margin: 15px 0 10px;}
.tabing-content ul#pills-tab { padding: 5px !important; border: 1px solid #aaa !important;border-radius: 10px;justify-content: space-between;}
.tabing-content ul#pills-tab li.nav-item {text-align: center;}
.tabing-content ul#pills-tab .nav-link {font-size: 14px !important;padding: 5px 10px !important;min-width: 126px;}
.tabing-content .nav-pills .nav-link.active {background-color: transparent;box-shadow: 0 0px 0px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);color: var(--green);}
.tab-content>.active{font-size: 14px;color: #98A2B3;font-weight: 500;}
.date {display: flex;align-items: center;}
input#fecha1 {border-right: 0px;}
.input-group-append {margin-left: -1px;}
.pers-box .input-group-text {height: 44px;}
.input-group-text {background-color: transparent;border-left: 0px;border: 1px solid #C4BFCF;border-radius: 10px;}
.toggle-btn {display: flex;align-items: center;justify-content: center; height:44px;width: 100%;border: 1px solid #aaa;border-radius: 10px;}
.toggle-btn span {font-size: 16px;color: #000;}
.cale-btn{margin-top: 32px !important;height:44px !important;}
span.tag.label.label-info{margin-right: 3px;display: inline-block;margin-bottom: 3px;}
