/*======Header============*/
.main-content{overflow: hidden;}
.right-dash {margin-left: 116px;margin-top: 88px; padding: 24px;background: #F7F8F8;}
.talent-box .slider-nav img {width: auto !important;height: 70px;object-fit: cover;border-radius: 0 !important}

.telent-box-detail { padding: 16px; display: flex; align-items: center; background: #fff;    border-radius: 0 0 12px 12px;}
.image-talent{margin-right: 16px;width:25%;} 
.telent-box-detail h4{font-size: 20px;color:#101828;font-weight: 600;margin-bottom: 0px}
.telent-box-detail p{font-size: 12px;margin-bottom: 0;font-weight: 600;color:#475467;}
.telent-title{width: 85%;position: relative;}
.btn-arrow{position: absolute;right:0;top:0;}
.btn-arrow span{color:#475467;transform: rotate(45deg);}
.talent-box {border: 1px solid #EAECF0;border-radius: 12px;position: relative;margin-bottom: 30px;}
.image-talent img {width: 50px;height: 50px;border-radius: 50%;border: 4px solid #000;}
.green-bg img {border-color: var(--green);}
.label-info span {color: #fff;}
.label-info {padding:2px 16px;background: #000;position: absolute;border-radius: 7px;top: 16px;right: 16px;}
.green-label{background: var(--green)}
.talent-box img.item-slick {border-radius: 12px 12px 0 0;}
.orange-bg img {border-color: #F08200;}
.orange-label{background: #F08200;}
.yellow-bg img {border-color: #FFD200;}
.yellow-label{background: #FFD200;}
.red-bg img {border-color: #ED0000;}
.red-label{background: #ED0000;}

.hover-wrapper {position: absolute;bottom: 0;left: 0;right: 0;text-align: center;display: block;margin: auto;transition: all .5s;visibility: hidden;}
.hover-wrapper ul {position: relative;display: flex;width: 125px;height: 35px;border-radius: 20px;text-align: center;justify-content: center;z-index: 1;margin: auto;background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));}
.hover-wrapper ul:after {filter: blur(1px);background: rgba(255,255,255,0.3);content: "";position: absolute;top: 0;right: 0;left: 0;bottom: 0;border-radius: 12px;z-index: 0;}
.hover-wrapper ul li {margin: 5px 10px;position: relative;z-index: 11;}
.dash-title{font-size:28px;font-weight: 600;color: #000;margin-bottom: 16px;text-transform: capitalize;}
.talent-box:hover .hover-wrapper{transform: translateY(-90px);visibility: visible;}
/*===modal==*/
.modal-listing .modal-dialog{max-width: 748px;height: 246px;}
.modal-listing .modal-content{padding: 33px;border-radius: 10px;}
.modal-listing .modal-body{padding: 0;}
.modal-listing .modal-body .form-group{margin-bottom: 20px;}
.modal-listing .modal-body .form-group select{height: 44px;padding: 10px 14px;border-radius:10px;}
.modal-listing .modal-footer{padding: 0;border-top: 0;justify-content: space-between;}
.modal-listing .modal-footer button{min-width:333px ;height: 44px;}
.modal-listing .modal-footer button:last-child{margin-left: 16px;}
.modal-listing .modal-header{border-bottom: 0;justify-content: center;padding: 0;}
.modal-listing .modal-title{color: var(--green);font-weight: 600;font-size:18px;margin-bottom:20px;}
.modal-listing .modal-title span{border-bottom:2px solid var(--green);}



/*======sidebar modal===*/
.sidebar-modal .modal-dialog{margin: 0px;}
.sidebar-modal .modal-content {width: 310px;position: absolute;margin: 0; left:110px; padding: 16px;border-radius:12px;}
.sidebar-modal .modal-body{margin-bottom: 24px;padding: 0;}
.sidebar-modal .modal-footer{border-top: 0;justify-content: space-between;padding: 0;}
.sidebar-modal .modal-footer button{width: 87px;min-width: 87px; height: 44px;}
.sidebar-modal .modal-body .box-content .check-box .list-title{font-size: 16px;color: #000;font-weight: 600;margin-bottom: 8px;}

.modal-role .modal-content{top:105px;}
.modal-skill .modal-content{top: 187px;}
.modal-tools .modal-content{top: 270px;}
.modal-locate .modal-content{top: 355px; width:414px;}

.check-text {display: flex;align-items: center;margin-bottom: 0;justify-content: space-between;}
.check-box ul li input[type="checkbox"]:checked {background-color: #eee;border: 1px solid var(--green);}
.box-content ul li input[type=checkbox]:checked {accent-color: #F7F8F8;}
.check-box ul li input[type="checkbox"] {appearance: none;height: 20px;width: 20px;border-radius: 3px;border: 1px solid #8C87A2;background-color: #fff;cursor: pointer;display: flex;align-items: center;justify-content: center;outline: none;position: relative;}
.green-box label {color: var(--green);}
.check-text label { margin-bottom: 0; font-size: 16px;color: #344054;width: 90%;line-height: normal;}
.check-box ul li {margin-bottom: 12px;}
.check-box ul li input[type="checkbox"]:after {content: "\f00c";font-family: "fontawesome";font-size: 15px;position: absolute;top: 1px;color: var(--green);display: none;}
.check-box ul li input[type="checkbox"]:checked:after {display: block;}

.modal-locate .modal-dialog .select2-container .select2-selection--multiple{min-height: 44px;border: 1px solid #aaa;border-radius: 10px;}
.modal-locate .modal-dialog .select2-container--default .select2-selection--multiple .select2-selection__rendered{padding: 5px 10px;}
