.privacy {padding-top: 100px;}
.privacy-box{padding: 40px; background-color: #211A37; border-radius: 24px; text-align: center; width: 95%; margin: auto; }
.privacy-box h3{color: #fff; font-size: 48px; font-weight: 500; padding-bottom: 16px;}
.privacy-box p{color: #fff; font-size: 21px; font-weight: 300; width: 73%; margin: auto; }
.policy-list{padding: 60px 0; width:60%; margin:auto;}
.policy-text h5{color: #000; font-size: 24px; font-weight: 500; padding-bottom: 24px;}
.policy-text p{color:#667085 ; font-size: 18px; font-weight: 300; margin-bottom: 0;}
.policy-item ul li{padding-bottom: 45px;}
.policy-item ul li:last-child{padding-bottom: 0;}
.footer-2{width: 95%; margin: auto;}
.footer-2 .footer-info {padding-right: 15px;}
.footer-2 .footer-wrapper {padding-left: 15px;}