@media (min-width: 576px) {
    .container { max-width: 540px;}
}
@media (min-width: 768px) {
    .container {max-width: 720px;}
}
@media (min-width: 992px) {
    .container {max-width: 960px;}
}
@media (min-width: 1200px) {
    .container { max-width: 1140px;}
}
@media (min-width: 1300px) {
    .container { max-width: 1283px;}
}
@media (min-width: 1500px) {
    .container {max-width: 1483px;}
}


/*====header css====*/
@media(max-width:767.95px) {
    .login-btn .btn {margin-left: 10px;width: 100%;}
    .login-btn .btn:first-child{margin-left: 0;}
    .login-btn {display: flex;align-items: center;justify-content: end;}
}
@media(max-width:575px) {
    .logo {width: 100px;}
    .login-btn .btn {margin-left: 10px;width: auto;min-width: auto;}
    .login-btn {display: flex;align-items: center;justify-content: end;}
}
/*=====banner css====*/


@media(max-width:1499.95px){
    .banner .container{height: 100%;padding: 100px 0;}
    .banner-info{position: relative;top:0;left: 0;transform: translate(0);}
    .banner-info h1{font-size: 46px;line-height: normal;}
    .banner-info .search-box .form-group{width: 84%;}
    .banner-info .search-box{max-width: 80%;}
}
@media(max-width:1399.95px){
    .banner-info .search-box .form-group{width: 73%;}
    .banner-info .search-box{max-width: 60%;}
}
@media(max-width:1299.95px){
    .banner-info .search-box .form-group{width: 73%;}
    .banner-info .search-box{max-width: 69%;}
}
@media(max-width:1199.95px){
    .banner-info .search-box{max-width: 80%;}
    .banner-info .search-box .form-group{width: 74%;}
}
@media(max-width:991.95px){
    .banner-info h1{font-size: 45px;}
    .banner-info .search-box ul li a{width: auto;height: auto;line-height: normal;padding: 20px 10px;}
    .banner-info .search-box{max-width:97%;}
    .banner-info .search-box .form-group{width: 50%;}
}
@media(max-width:767.95px){
    .banner-info .search-box .form-group{width: 100%;margin-top:85px;}
}
@media(max-width:575.95px){
    .banner-info h1{font-size: 28px;margin-bottom:20px;}
    .footer-wrapper h4{margin-bottom: 10px;}
    .footer-wrapper ul{margin-bottom: 15px;}
}
/*===about css====*/
@media(max-width:1400px) {
    .time-zone-box ul {width: 85%;}
    .about:before{opacity: 0.2;}
}
@media(max-width:1199.95px) {
    .time-zone-box ul {width: 100%;}
    .time-zone-box ul li a { width: 190px;}
    .about-info { padding-bottom: 100px;}
    .about-info h2 { font-size: 46px;line-height: normal;}
    .time-zone-box h4 {font-size: 18px;line-height: normal;}
}
@media(max-width:991.95px) {
    .time-zone-box h4 { width: 100%;}
    .time-zone-box h2 { font-size: 36px; font-weight: 500; margin-bottom: 15px;}
    .about-info { width: 100%;}
    .time-zone-box ul { width: 73%;flex-wrap: wrap;}
    .about-info h2 {font-size: 36px;}
}
@media(max-width:767.95px) {
    .time-zone-box ul li a { width: 170px;}
    .time-zone-box ul {width: 100%;}
    .about-info {padding-bottom: 70px;}
    .about {padding: 50px 0;}
}
@media(max-width:575.95px) {
    .time-zone-box ul li a { width: 170px;}
    .time-zone-box ul {width: 100%;justify-content: center;}
    .time-zone-box ul li {margin-bottom: 10px;}
    .about-info {padding-bottom: 70px;}
    .about-info p { text-align: justify; line-height: normal; font-size: 20px;}
    .time-zone-box {padding: 30px;}
}
/*=====testimonial css===*/
@media (max-width:1199.95px) {
    .title-testimonial h4 {font-size: 46px; line-height: normal;}
    .testimonial-box img {right: 0;}
}
@media (max-width:991.95px) {
    .title-testimonial h4 {font-size: 36px;}
    .testimonial .slick-list.draggable {padding-top: 30px;}
    .testimonial-info h4 {font-size: 22px;}
}

@media (max-width:767.95px) {
    .title-testimonial h4 {font-size: 26px;}
    .testimonial-info {padding: 40px; height: auto;margin-bottom: 30px;}
    .testimonial-box img {width: 75%;}
    .testimonial {padding: 100px;}
    .testimonial .slick-prev {top: -10px;right: 55px;}
    .testimonial .slick-next { top: -10px;right: 0;}
}
@media (max-width:575.95px) {
    .testimonial { padding: 50px 0;}
    .testimonial .slick-prev {top: -5px;}
    .testimonial .slick-next { top: -5px;}
    .testimonial-info { padding: 30px;}
    .testimonial-box img { width: 80%;}
    .testimonial-box { overflow: hidden;}
    .time-zone-box h4 {font-size: 16px; line-height: normal;}
    .time-zone-box h2 { font-size: 30px;}
}
/*====team css===*/
@media (max-width:1400px) {
    .team h4 { font-size: 50px;}
}
@media (max-width:1199.95px) {
    .team h4 { font-size: 46px;line-height: normal;}
    .team p { font-size: 18px;}
}
@media (max-width:991.95px) {
    .team h4 {font-size: 36px;}
    .team p {font-size: 19px;}
}
@media (max-width:767.95px) {
    .team {padding: 100px 0 0;}
}
@media (max-width:575.95px) {
    .team {padding: 50px 0 0;}
}
/*====pricing css===*/
@media (max-width:1400px) {
    .plan-box {min-height: 600px;}
}
@media (max-width:1199.95px) {
    .prices p {font-size: 19px;}
    .plan-box {padding: 30px;}
    .plan-box { min-height: 660px;}
    .prices h4 {font-size: 46px;line-height: normal;}
}

@media (max-width:991.95px) {
    .prices p { font-size: 18px;}
    .plan-box {padding: 30px;}
    .plan-box { min-height: 635px;}
    .prices h4 {font-size: 36px;}
    .row.plan {width: 100%;margin: auto;}
}

@media (max-width:767.95px) {
    .plan-box {min-height: auto;margin-bottom: 30px;}
    .row.plan {width: 80%;margin: auto;}
    .prices {padding: 50px 0;}
}

@media (max-width:575.95px) {
    .prices h4 {font-size: 36px; line-height: normal;}
    .row.plan { width: 100%;margin: auto;}
    .prices {padding: 0px 0 50px;}
    .prices p {font-size: 17px;}
    .plan-box h4 {margin-bottom: 10px;}
}
/*=====team effort =====*/
@media (max-width:1199.95px) {
    .efforts .title-one {font-size: 46px;line-height: normal;}
}
@media (max-width:991.95px) {
    .efforts .title-one { font-size: 36px;}
}
@media (max-width:767.95px) {
    .efforts {padding: 50px 0;}
}
@media (max-width:575.95px) {
    .efforts {padding: 50px 0;}
    .efforts .title-one {font-size: 35px;}
}
/*=====footer css =====*/
@media (max-width:1199.95px) {
    .footer-info {padding-right: 130px;}
    .footer-wrapper {padding-left: 54px;}
}
@media (max-width:991.95px) {
    .footer-info { padding-right: 30px;}
    .footer-wrapper {padding-left: 30px;}
    .footer-info h3 { font-size: 36px; line-height: normal;}
}
@media (max-width:767.95px) {
    .footer-info {padding-right: 30px;margin-bottom: 30px;}
    .footer-wrapper {padding-left: 0px;}
    footer:before {width: 0;}
}
@media (max-width:575.95px) {
    .footer-info h3 { font-size: 30px;}
    .copy-right {padding: 10px 0;}
}

/*====signing page===*/
@media(max-width:1299.95px){
    .login-info{width: 30%;}
}
@media(max-width:1199.95px){
    .login-page{overflow: hidden;}
    .login-info{width: 40%;}
    .login-page img{left: -120px;}
    .login-page img.loign-imag-two{right: -120px;}
    .login-info img{left: 0 !important;}
}
@media(max-width:991.95px){
    .login-page img{left: 0;}
    .login-page{height: 100%;}
    .login-page img{position: relative;left: 0;top:0;transform: translate(0);height:300px;width: 100%;object-fit: cover; border-radius:0 0 20px 20px;}
    .login-page img.loign-imag-two{display:none; position: relative;right: 0;top:0;transform: translate(0);height:300px;width: 100%;object-fit: cover; border-radius: 20px;}
    .login-info{position: relative;left: 0;top:0;transform: translate(0);width: 80%;padding: 30px 0;}
    .login-info img{width: 50px;height: 50px;}
}
@media(max-width:767.95px){
    .login-btn a.btn{width: auto; min-width: auto;}
    .header-btn{justify-content: end;}
}

@media(max-width:575.95px){
    .batn-02{font-size: 14px;}
}


/*====basic profile img set up ====*/
@media (min-width:1300px) {
    .main-step{display: flex;align-items: center;justify-content: center;padding: 150px 0;}
    .step-box {width:55%;position: relative;transform: translateY(0);top:0;max-width: 100%;}
}
@media (min-width:100px) {
    .main-step{display: flex;align-items: center;justify-content: center;padding: 150px 0;}
    .step-box {position: relative;transform: translateY(0);top:0;width:100%;max-width: 100%;padding:10px 10px ;}
}
@media (min-width:320px) {
    .main-step{display: flex;align-items: center;justify-content: center;padding: 150px 0;}
    .step-box {position: relative;transform: translateY(0);top:0;width:100%;max-width: 100%;padding:30px 15px ;}
}
@media (min-width:576px) {
    .main-step{display: flex;align-items: center;justify-content: center;padding: 150px 0;}
    .step-box {position: relative;transform: translateY(0);top:0;width:90%;max-width: 100%;}
}
@media (min-width:768px) {
    .main-step{display: flex;align-items: center;justify-content: center;padding: 150px 0;}
    .step-box {position: relative; transform: translateY(0);top:0;width:90%;max-width: 100%;}
}
@media (min-width:992px) {
    .main-step{display: flex;align-items: center;justify-content: center; padding: 150px 0;}
    .step-box {position: relative;transform: translateY(0);top:0;width:70%;max-width: 100%;}
}
@media (min-width:1200px) {
    .main-step{display: flex; align-items: center;justify-content: center;padding: 150px 0;}
    .step-box {position: relative;transform: translateY(0);top:0;width:55%;max-width: 100%;}
}
@media (min-width:11992.95px) {
    .check-text label {font-size: 14px;}
}

@media (max-width:991.95px) {
    .form-alignment2 button {margin-top: 40px;}
    .resp-align {min-height: 50px;}
    ul#pills-tab li.nav-item {width: auto !important;}
    .box-content ul li {width: calc(50% - 10px)}
    .box-content ul li ul li {width: 100% !important;}
    .check-text label{width: 75%;}
}

@media (max-width:767.95px) {
    .profile-info h5 {font-size: 12px;}
    .check-head h4{font-size: 14px;}
    .resp-align{min-height: auto;}
    .check-box ul li{margin-bottom:10px;}
    .check-text label{font-size: 12px;}
    input.previous.btn-border.new-step-btn, input.next.action-button.new-step-btn2{margin-top: 20px !important;}
}
@media (max-width:575.95px) {
    .step-box h3{font-size: 20px;}
    .form-alignment2{display: block;}
    .form-alignment2 button{margin-top: 0;margin-left: 0;margin-bottom:20px;}
    .pro-image img{height: 100px;}
    .profile-info{text-align: center;}
    .form-alignment2{text-align: center;}
    .form-alignment2 .form-group{width: 100%;}
    .row.align-items-center .pt-5{padding-top: 1rem !important;}
    .align-title-btn{display: block;}
    ul#pills-tab{justify-content: center;}
    .box-content ul li{width:100% !important;}
    input.previous.btn-border.new-step-btn, input.next.action-button.new-step-btn2{margin-top: 20px !important;min-width: auto;}
}
/*====choose plan ====*/
@media (max-width:1400px) {
    .prices.new-page {padding: 0px 0 100px;}
}

@media (max-width:767.95px) {
    .prices.new-page .prices h4 {font-size: 40px;line-height: normal;}
    .top-side.choose-plan-page {padding: 30px 0;}
    .prices.new-page {padding: 0 0;}
    .prices h4 {font-size: 36px;}
}
/*======view-profile =====*/
@media (max-width:1399.95px){
    .gallery-slider .slick-slide{height: auto;}
    .lang-list ul li{margin-right: 2px;}
    .client-list ul li{margin-right: 0;width: calc(33.33% - 57px);}
    .skill-sec.list-box.acc-skill ul li{margin-right: 12px;}
    .skill-sec.list-box.acc-skill ul li .check-head h4{font-size: 18px;}
    .skill-sec.list-box.acc-skill ul li .check-box ul li{width: 100%;}
}
@media(max-width:1199.95px){
    .acc-name h3{font-size: 24px;}
     button.btn.action-button:first-child{width: auto;}
     .gallery-slider .slick-slide{height: auto;}
    .client-list ul li{width:calc(33.33% - 0px);margin-right: 0;font-size: 16px;}
    .skill-sec.list-box.acc-skill ul li{width:calc(50% - 16px);margin-right: 16px;margin-bottom: 20px;}
    .lang-list ul li{padding: 6px 13px;margin-right: 0;font-size: 14px;}
    .map-cont .date p{font-size: 14px;}
    .media-cont ul li{margin-right: 20px;}
    .Tools-sec.list-box ul li{width:50%;}
}
@media(max-width:991.95px){
    .acc-header{padding: 15px 0 30px;}
    .acc-header .list-btn.right-btn{text-align: right; margin-top: 15px;}
    .gallery-slider{padding-bottom:30px;}
    .acc-box{margin-bottom: 20px;}
    .Tools-sec.list-box ul li{width:50%;}
}
@media(max-width:767.95px){
    .det-info .dis-align{display: block;}
    .det-info .date.dis-align{display: flex;}
    .skill-info.dis-align{margin-top: 10px;}
    .acc-name h3{margin-bottom: 5px;}
    .skill-info.dis-align p{margin-left: 0;margin-top: 5px;}
    .acc-img{margin-top: 0;height: 150px;width: 150px;}
    .acc-header{padding: 30px 0 30px;}
    .gallery-slider .slick-list{padding-bottom:10px !important;}
    .gallery-slider .slick-slide{margin-right: 15px;}
    .skill-sec.list-box.acc-skill ul li .check-head h4{font-size: 17px;}
    .client-list.list-box.acc-skill ul li{width: 50%;}

}
@media (max-width:575.95px){
    .navbar .navbar-brand{margin-right: 0;}
    .acc-cont{flex-direction: column;}
    .acc-img{margin: auto;}
    .det-info{margin: auto;text-align: center;}
    .det-info .date.dis-align{justify-content: center;}
    .acc-name.dis-align{margin: 10px auto;}
    .acc-header .list-btn.right-btn{text-align: center;}
    .gallery-slider{padding-bottom: 0;}
    .gallery-slider .slick-dots {left: 140px;bottom: -15px !important;}
    .rate-box{display: block;}
    .rate-rabge-box{margin-left:0;}
    .skill-sec.list-box.acc-skill ul li{width: 100%;}
    .acc-text{padding-bottom: 15px;margin-bottom: 0;}
    .title-name{margin-bottom: 10px;}
    .client-list.list-box.acc-skill ul li{width: 100%;}
    .Tools-sec.list-box ul li{width:100%;}
}
/*=======profile-plan=====*/
@media(max-width:1399.95px){
    .pers-box .check-text label{width: 79%;}
}
@media (max-width:1299.95px){
    .col-md-12.form-alignment.user-btn .chng-mail{margin-top: 20px;}
    .pers-box .list-box ul li .check-head h4{font-size: 16px;}
    .check-box ul li{margin-bottom: 10px;}
}
@media(max-width:1199.95px){
    .pers-box .check-text label{line-height: normal;font-size: 12px;margin-left:5px;}
    .pers-box .box-content.tool .list-box ul li ul li .check-text{justify-content:space-between ;}
    .tabing-content ul#pills-tab .nav-link{min-width: auto;}
    .pers-box .wrapper-thumb {width: 85px;height: 80px;}
}
@media(max-width:991.95px){
    .tab-box ul#pills-tab li.nav-item {width: 48% !important;margin-right: 10px;}
    .pers-info .tab-box{margin-bottom: 20px;}
    .pers-box.pers-checkbox .box-content ul li{width: 100%;}
    .tabing-content.my-availability .pers-info ul#pills-tab li.nav-item{width: auto !important;}
    .pers-box label span{line-height: normal;}
    .pers-box label{line-height: normal;}

    /*===work & social ====*/
    .pers-box .wrapper-thumb{width: 95px;}
}
@media(max-width:767.95px){
    .plan-togle .toggle-btn2 span{font-size: 12px;}
    .plan-togle .toggle-btn2{max-width: fit-content;padding: 12px;margin-top:-10px;margin: auto;}
    .list-btn.plan-btn button:nth-child(2){margin-left: 10px;}
    .list-btn.right-btn.plan-btn{margin-bottom: 0;}
    .tab-box ul#pills-tab li.nav-item{width: 45% !important;}
    .col-md-12.form-alignment.user-btn{display: block;}
    .tab-box ul#pills-tab li.nav-item{font-size: 14px !important;}
    .col-md-12.form-alignment.user-btn .form-group{width: 100%;}
    .col-md-12.form-alignment.user-btn .chng-mail{margin-top: 0;margin-bottom: 10px;}
    .user-btn .chng-mail button{margin-top: 0;}
    .user-btn .chng-mail button:first-child{margin-left: 0;}
    .plan-togle .toggle-btn2 span{font-size: 12px;}

    /*===work & social ====*/
    .pers-box .wrapper-thumb{width:68px;height: 60px;}
    /*====skill =====*/
    .pers-box.pers-checkbox .col-md-4.pl-0{padding-left: 15px !important;}
    /*=-===avability===*/
    .tabing-content ul#pills-tab{justify-content: space-around;}
}
@media(max-width:575.95px){
    .tabs{margin-top: 0;}
    .list-btn.right-btn.plan-btn{margin-bottom: 20px;}
    .tabs .nav-tabs .nav-link{font-size: 14px;}
    .tabs-box .acc-name.dis-align{display: block;}
    .tabs-box .until-date{width: auto;margin-left: 0;}
    .premium-text h3{margin: 10px 0;}
    .premium-text{margin-bottom: 20px;}
    .tab-box ul#pills-tab li.nav-item{width: 100% !important;}
    .pers-box .form-alignment{display: block;}
    .pers-box .form-alignment .form-group{width: 100%;}
    .form-alignment .chng-mail button:first-child{margin-left: 0;margin-top:0;margin-bottom: 10px;}
    .user-btn .chng-mail button{min-width: auto;margin-top: 0;margin-bottom: 10px;}
    .pers-box .pro-image{margin:0 auto 10px;}
    .img-title{text-align: center;}
    .pers-box .p-image p{font-size: 11px;}
    .pers-box .profile-info .pro-image.header-img{margin-bottom: 0;}

    /*====work & social===*/
    .pers-box .choose-btn button{width: auto;font-size: 12px;}
    .pers-box .choose-btn{justify-content: space-around;}
    /*=====avalablity====*/
    .avail-title{font-size: 22px;}
    .pers-box .align-title-btn .toggle-btn2{justify-content: start; margin: 10px 0;}

}

/*====change-password===*/
@media(max-width:991.95px){
    .password-box{max-width: 50%;}
}
@media(max-width:767.95px){
    .password-box{max-width: 70%;}
}
@media(max-width:575.95px){
    .password-box{max-width: 90%; margin: auto;}
}

/*=====chat css===*/
@media(max-width:1199.95px){
    .chat-text{height: 43vh;}
}
@media(max-width:991.95px){
    .chat-text li.pro-cont .pro-info{max-width: 100%;}
    .chat-text li.pro-cont .pro-img{min-width: 48px;}
}
@media(max-width:767.95px){
    .sidebar-wrapper .left-side{width: 100%;height: auto;position: relative;}
    .sidebar-wrapper .right-side{width: 100%;margin-left: 0;margin-top:65px;}
    .sidebar-wrapper{flex-direction: column;}
}
/*====booking css=======*/
@media(max-width:1399.95px){
    .list-text h4{font-size: 19px;}
}
@media(max-width:1199.95px){
    .list-btn.book-btn button{width: auto !important;margin-left: 0; min-width: auto !important; height: auto;line-height: normal;padding: 10px; }
    .list-btn.book-btn button:nth-child(2){margin-left: 10px;}
}
@media(max-width:991.95px){
    .list-btn.book-btn{text-align: left;margin: 10px 0 0;}
}
@media(max-width:575.95px){
    .list-content{display: block;}
    .list-text{padding-left: 0;margin: 10px 0;}
}

/*=====basic-form-setup-step.css====*/
@media(max-width:1399.95px){
    /*====skill===*/
    .check-text label{font-size: 14px;}
    span.tag.label.label-info{margin-right: 3px;display: inline-block;margin-bottom: 3px;}
    .invite-btn{right: 19px;}
}
@media(max-width:1299.95px){
    /*===personal information====*/
    .form-card .profile-info .pro-image{height: 100px;width: 100px;}
    .form-alignment2 button{margin-top: 40px;}
    /*=====poartfolio & social ====*/
    .wrapper-thumb{
        width: 90px;
    }
    /*===work-details===*/
    label.resp-align{min-height: 50px;}
    /*=====avalabelity====*/
    ul#pills-tab li.nav-item {width: auto !important;}

}
@media(max-width:1199.95px){
    /*===personal information====*/
    .form-alignment2 button{margin-top: 10px;}
    /*=====poartfolio & social ====*/
    .wrapper-thumb{width: 98px;}
    .form-card .resp-align{min-height: auto;}
}
@media(max-width:991.95px){
    /*==skill===*/
    .form-card .box-content ul li{width: 100%;}
    .form-card .box-content .col-md-4.pl-0{padding-left: 15px !important;}

    /*=====member-roster===*/
    .invite-btn.srch-invite-btn{margin-top:0 !important;}
}
@media(max-width:767.95px){
    .form-alignment2 button{margin-top: 30px;}
    .form-card label{line-height: normal;}
    .form-card .wrapper-thumb {width: 69px;height: 69px;}
    .step-box h3{font-size: 26px;}
    .form-card .resp-align{min-height: auto;}
    /*=====member-roster===*/
    .invite-btn.srch-invite-btn{top:33px;}
}
@media(max-width:575.95px) {
    .step-box h3{font-size: 20px;}
   .form-card .form-alignment2{text-align: left;}
   .form-card .form-alignment2 button{margin: 0px 0px 10px;}
   .form-card .img-title{text-align: left;}
   .form-card .profile-info .pro-image{margin-bottom: 10px;}
   .form-card .tab-content>.active{text-align: justify;}
   .form-card p.skill-text{text-align: justify;}
}
@media(max-width:319.95px){
    .invite-btn.srch-invite-btn{top:47px;}

}
/*====premium-view-profile=====*/
@media(max-width:1299.95px){
    button.btn-border:last-child{width: auto !important;}
}
@media(max-width:1199.95px){
    .prem-view.acc-header .list-btn button:nth-child(2){margin-left: 8px;}
    .prem-view.acc-header button.btn-border:last-child{margin-left: 8px;}
    .prem-view.acc-header .list-btn button{line-height: normal;}
    .prem-view.acc-header .list-btn{display: flex;}
    .prem-view.acc-header .acc-img{height: 120px;width: 120px;}
    .prem-view.acc-header .acc-name h3{font-size: 20px;}
    .modal-footer button{width: auto !important;min-width: auto !important;}
}
@media(max-width:575.95px){
    .prem-view.acc-header .list-btn.right-btn{justify-content: center;flex-wrap: wrap;}
    .prem-view.acc-header .list-btn button{margin-bottom: 10px;}
    .tabs-box .until-date{width: 90px;}
}
/*=======premium profile-plan======*/
@media(max-width:1199.95px){
    .plan-togle .toggle-btn2 span{font-size: 14px;}
    /*====personal info=====*/
    .prem-tab-box ul#pills-tab li{width: 100% !important;}
}
@media(max-width:991.95px){
    .pre-plan.acc-header .list-btn.right-btn{text-align: left;}
}
@media(max-width:767.95px){
    .pre-plan.acc-header .plan-togle .toggle-btn2 span {font-size: 12px;line-height: normal;}
    .plan-togle .toggle-btn2 span{font-size: 12px;}

}
@media(max-width:575.95px){
    .pre-plan.acc-header .list-btn.right-btn{text-align: center;}
    .tabs.pre-tab ul#myTab{justify-content: center;}
    /*====team member=====*/
    .pers-box .active-member .pro-cont{display: block;}
    .pers-box .active-member .pro-info{margin-left: 0;}
    .tabs.pre-tab .row .col-sm-9.pl-0{padding-left: 15px !important;}
    .pers-box .active-member .pro-info .acc-name.dis-align{margin: 10px auto 0px;}
    section.acc-header.pre-view.pre-plan .plan-togle{text-align: center;}
    section.acc-header.pre-view.pre-plan .plan-togle .toggle-btn2{margin: auto;}
}

/*===premium-booking-list====*/

@media(max-width:1199.95px){
    .prem-side .left-side{width:250px;}
    .prem-side .right-side{margin-left: 250px;}
    .booking-list.prem-booking .list-btn.book-btn button{padding: 0 10px;}
}
@media(max-width:767.95px){
    .prem-side .left-side {width: 100%;position: relative;height: auto;}
    .prem-side .right-side{margin-left: 0;}
}
@media(max-width:575.95px){
    .booking-list.prem-booking .disc-text p {text-align: justify;font-size: 14px;}
    .booking-list.prem-booking .list-text h4 {font-size: 17px;}
    .right-side{padding: 24px;}
    .booking-list.prem-booking .list-btn.book-btn{margin: 0;}
}

/*====premium-roaster-dash===*/
@media(max-width:1399.95px){
    .modal-listing .modal-footer button{width: 100px !important;}
}
@media(max-width:991.95px){
    .roster-content p{line-height: normal;}
    .sidebar-modal .modal-body .box-content ul li{width: 100%;}
    .sidebar-modal .modal-body .box-content ul li .check-text label{width: 90%;}
    .select-menu .select-btn .select_text{font-size: 14px;width: 80%;}
    .select-btn span.arrow-icon{height: 24px;width: 24px;border-radius:8px;font-size: 12px;}
}

@media(max-width:757.95px){
    aside.sidebar-menu {position: relative;height: auto;width: 100%;text-align: center;}
    .sidebar-menu ul li{display: inline-block;}
    .right-dash{margin-left: 0;margin-top: 50px;}
    .select-menu{padding-bottom:20px ;}
    .talent-box .slick-slide{margin-right: 0;}
    .sidebar-modal .modal-dialog{width: 100%;max-width: 100%;}
    .sidebar-modal .modal-content{top:180px;left:50%;transform: translateX(-50%);}
}
@media(max-width:575.95px){
    .sidebar-menu ul li{margin-bottom: 5px;}
    .roster-content{flex-direction: column;}
    .roster-content p{text-align: center;margin-bottom: 10px;}
    .telent-title{width: 100%;}
    .image-talent{margin-right: 10px;width: 70px;}
    .modal-listing .modal-dialog{margin: 0;height: 100%;}
    .modal-listing .modal-content{position: absolute;left: 50%;top:50%;transform: translate(-50%, -50%);}
    .modal-locate .modal-content{width: 100%;}
}
/*====premium-chat====*/
@media(max-width:575.95px){
    .chat-title p{text-align: center;}
}
/*=====premium-filter-dash====*/
@media(max-width:1199.95px){
    .dash-heading{display: block;}
    .dash-heading ul li{padding:8px 10px;margin-bottom: 8px;}
}
@media(max-width:575.95px){
    .dash-heading ul li{font-size: 14px;}
}


/*===premium header=====*/

@media(max-width:1399.95px){
    .navbar .navbar-brand{margin-right: 20px;}
    
}
@media(max-width:1199.95px){
    .navbar .navbar-brand{margin-right: 20px;}
    .navbar{padding: 18px 20px;}
    .navbar .nav-item .nav-link{padding: 8px 10px;font-size: 15px;}
}
@media(max-width:991.95px){
    .sidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;right: 0;background-color: #aaa;overflow-x: hidden;transition: 0.5s;display: block;}
    .sidenav ul.navbar-nav{padding: 60px 20px 10px;}
    .sidenav form.search-box{padding: 0 20px;}
    .sidenav .profile-info ul li .dropdown-menu{left:25px;margin-top:10px; right: auto;}
    .sidenav .profile-info ul li .dropdown-menu li a{font-size: 16px !important;padding: 0 !important;}
    .sidenav ul li a{padding: 8px 8px 8px 32px;text-decoration: none;color: #000 !important;display: block;transition: 0.3s;}
    .sidenav a:hover {color: #f1f1f1;}
    .sidenav .closebtn {position: absolute;top: 20px; right: 20px;font-size: 36px;margin-left: 50px;display: block;}
    .navbar-toggler{font-size: 16px;padding: 0.25rem 0.25rem;}
}
/*====admin dashboard css======*/
@media(max-width:1399.95px){
    .manage-box h3{font-size: 34px;}
}
@media (max-width:1199.95px){
    .admin-left{left:-260px;}
    .admin-right{margin-left: 0;}
    .admin-dash.left-side .admin-left{left:0px; transition: all .6s;}
    .admin-dash.left-side .admin-right{margin-left: 0px;}
    .admin-dash.left-side .close-icon img{display: block;margin-left: auto;}
    .admin-left.close-sidebar{left:-260px;  transition: all .6s;}
    .admin-logo{padding: 24px 43px;}
}
@media(max-width:991.95px){
    .dash-item p{font-size: 15px;}
    .manage-box h3{font-size: 26px;}
    .invite-btn button{min-width: auto;}
    .d-table table tbody tr td{white-space: nowrap;}
    .d-table table thead tr th{white-space: nowrap;}
    .users-content{overflow: hidden;}
    .d-table{overflow: hidden;overflow-x: scroll;display: block !important;}
}
@media(max-width:767.95px){
    .chart-sec{width: 100%;padding: 20px;}
    .dash-item{margin-bottom: 20px;}
    .srch-form{width: 70%;}
    .manage-box{margin-bottom: 20px;}
}
@media(max-width:575.95px){
    .admin-head{display: block;}
    .srch-form{width: 100%;}
    .admin-pro{margin: 10px auto 0;}
    .manage-box h3{font-size: 20px;}
    .manage-box p{font-size: 16px;}
    .table-srch{flex-direction: column;}
    .invite-btn{margin-left: 0;margin-top: 10px;}
    .item-content .list-head{flex-direction: column;padding: 20px 10px;}
    .item-content ul{padding: 10px;}
    .item-content .list-head h3{margin-bottom: 10px;font-size: 18px;}
    .list-cont{flex-direction: column;}
    .list-cont p{margin-bottom: 5px;}
}
/*=====privacy-policy page======*/
@media(max-width:1299.95px){
    .privacy-box{width: 100%;}
    .footer-2 .footer-info { padding-right: 0;}
    .footer-2 .footer-wrapper{padding: 0;}
    .footer-info h3{font-size: 38px;}
}
@media(max-width:1199.95px){
    .privacy-box p{width: 95%;}
    .footer-info h3 { font-size: 30px;}
}
@media(max-width:991.95px){
    .privacy-box p {width: 100%;}
    .policy-list{width: 75%;}
    .policy-item ul li {padding-bottom: 30px;}
    .policy-text h5{padding-bottom: 15px;}
    .privacy-box h3{font-size: 40px;}
    .privacy-box p{font-size: 17px;}
    .policy-list{padding: 30px 0 50px;}
    .policy-text p{font-size: 16px;}
    .footer-info h3 { font-size: 24px;}
    .privacy-box h3 {font-size: 30px;}
}
@media(max-width:767.95px){
    .policy-text h5{font-size: 22px;}
    .policy-text h5{padding-bottom: 10px;}
    .policy-list{padding: 30px 0;}
    .footer-2{padding: 50px 0;}
    .copy-right{padding: 15px 0;}
}
@media(max-width:575.95px){
    .privacy-box{padding: 20px;}
    .privacy-box h3 {font-size: 26px;}
    .privacy-box p {font-size: 16px;}
    .policy-text h5 {font-size: 20px; padding-bottom: 5px;}
}
/*======faq page =======*/
@media(max-width:991.95px){
    .according-content .card-header h5{font-size: 20px;}
    .faq{padding: 30px 0 50px;}
}
@media(max-width:575.95px){
    .according-content .card-header h5{font-size: 18px;}
    .card-body{font-size: 14px;}
}