/*======Header============*/
header{padding: 27px 0;position: absolute;left: 0;right: 0;z-index: 11;background: #fff}
.login-btn {text-align: right;}
.login-btn .btn{margin-left: 20px;}
.search-box .form-group {position: relative;}
.search-box span {position: absolute;right: 26px;}
.profile-info ul li{position: relative;}
.profile-info ul li .dropdown-menu li {padding: 10px; border-bottom: 0; background: transparent;}
.profile-info ul li .dropdown-menu { margin: 0;padding: 0;left: auto;right: 0; top: 57px; border: 0; width: 215px; border-radius: 12px;background: #fff;}
.profile-info ul li .dropdown-menu li img{margin-right: 8px}
.navbar .nav-item .nav-link{font-size:16px;font-weight: 500;color:#73787E;padding:10px 24px;}
.navbar .navbar-brand { margin-right: 58px;}
.navbar {padding: 18px 40px;}
header .bg-light {background-color: #fff!important;}

.sidebar-menu {height: 100vh;padding: 16px;background: #F7F8F8;width: 116px;position: fixed;top: 88px;}
.sidebar-menu ul li {width: 84px;height: 68px;border: 1px solid #C3BFD7;border-radius: 10px;text-align: center;margin-bottom: 16px;line-height: 40px;}
.sidebar-menu ul li h4 {font-size: 14px;color: #848094;font-weight: 500;}
.sidebar-menu ul li:hover h4,.sidebar-menu ul li:focus h4{color: var(--green);transition: 0.5s ease-in all}

.sidebar-modal .modal-dialog{margin:0px ;}
.sidebar-modal .modal-content {width: 310px;position: absolute;margin: 0; left:110px; padding: 16px;border-radius:12px;}
.sidebar-modal .modal-body{margin-bottom: 24px;padding: 0;}
.sidebar-modal .modal-footer{border-top: 0;justify-content: space-between;padding: 0;}
.sidebar-modal .modal-footer button{width: 87px;min-width: 87px; height: 44px;}
.sidebar-modal .modal-body .box-content .check-box .list-title{font-size: 16px;color: #000;font-weight: 600;margin-bottom: 8px;}

.modal-role .modal-content{top:105px;}
.modal-skill .modal-content{top: 187px;}
.modal-tools .modal-content{top: 270px;}
.modal-locate .modal-content{top: 355px; width:414px;}

.check-text {display: flex;align-items: center;margin-bottom: 0;justify-content: space-between;}
.check-box ul li input[type="checkbox"]:checked {background-color: #eee;border: 1px solid var(--green);}
.box-content ul li input[type=checkbox]:checked {accent-color: #F7F8F8;}
.check-box ul li input[type="checkbox"] {appearance: none;height: 20px;width: 20px;border-radius: 3px;border: 1px solid #8C87A2;background-color: #fff;cursor: pointer;display: flex;align-items: center;justify-content: center;outline: none;position: relative;}
.green-box label {color: var(--green);}
.check-text label { margin-bottom: 0; font-size: 16px;color: #344054;width: 90%;line-height: normal;}
.check-box ul li {margin-bottom: 12px;}
.check-box ul li input[type="checkbox"]:after {content: "\f00c";font-family: "fontawesome";font-size: 15px;position: absolute;top: 1px;color: var(--green);display: none;}
.check-box ul li input[type="checkbox"]:checked:after {display: block;}

.modal-locate .modal-dialog .select2-container .select2-selection--multiple{min-height: 44px;border: 1px solid #aaa;border-radius: 10px;}
.modal-locate .modal-dialog .select2-container--default .select2-selection--multiple .select2-selection__rendered{padding: 5px 10px;}